/*@import '@angular/material/prebuilt-themes/purple-green.css';*/

html, body { 
    height: 100%;
    background: #303030;
    color: whitesmoke;
    overflow:hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    margin: 0;
    font-family: Ubuntu, "Helvetica Neue", monospace;
}
