<div class="container">
    <div id="container-inner">
        <div class="container-home">
            <div class="home-background-container">
                <div fxFlex fxLayoutAlign="flex-end">
                    <button mat-stroked-button color="primary" class="homescreen-button">
                        Book Now
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="header-container">
                    <h1 class="mat-display-3">Welcome to the world of tomorrow</h1>
                    <br>
                    <h2 class="mat-display-1">This is an example of a placeholder text</h2>
                    <h2 class="mat-display-1">Lorem Ipsum, brother</h2>
                </div>
            </div>
        </div>
        <div class="baku">
            <h3>Baku</h3>
        </div>
    </div>
</div>