<div class="container">
    <div id="container-inner">
        <div class="container-home">
            <div class="home-background-container">
                <div fxFlex fxLayoutAlign="flex-end">
                    <button mat-stroked-button color="primary" class="homescreen-button">
                        Book Now
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="header-container">
                    <h1 class="mat-display-3">Welcome to the world of tomorrow</h1>
                    <br>
                    <h2 class="mat-display-1">This is an example of a placeholder text</h2>
                    <h2 class="mat-display-1">Lorem Ipsum, brother</h2>
                    <a href="#azerbaijan"><img src="/assets/img/expand_more.png" alt="scroll down" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-azerbaijan" id="azerbaijan">
        <div class="baku">
            <h3>AZERBAIJAN</h3>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div>
                <h1 class="mat-display-1">Some stuff to rent and some Döner</h1>
            </div>
            <div>
                <h3 class="mat-subheading-2">Some cars and some BS as well!</h3>
            </div>
            <div>
                <p class="mat-body-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id semper odio,
                    vitae dignissim dolor. Cras ac luctus lorem. Nullam viverra sem ac lectus malesuada posuere. Sed a
                    ultricies dui. Nullam efficitur laoreet eros, auctor mattis ante sodales vitae. Morbi id malesuada
                    odio, et feugiat nulla. Duis hendrerit arcu nulla, sit amet pretium odio gravida eget. Nulla sit
                    amet accumsan justo, sed tristique ante. Integer ultricies nisi vitae velit pharetra, eu mollis ex
                    suscipit.</p>
            </div>
        </div>
        <div class="cards" fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card class="baku" fxFlex="40">
                <mat-card-header fxLayout="row" fxLayoutAlign="center center">
                    <h1 class="mat-display-1">Baku</h1>
                </mat-card-header>
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary">Conquer!</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="ganja" fxFlex="40">
                <mat-card-header fxLayout="row" fxLayoutAlign="center center">
                    <h1 class="mat-display-1">Ganja</h1>
                </mat-card-header>
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary">Conquer!</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>